NEXT_PUBLIC_API_URL=https://api.dev.uigraph.app
NEXT_PUBLIC_ASSETS_URL=http://localhost:9000/uigraph/assets
NEXT_PUBLIC_DEPLOY_ENV=development

NEXT_PUBLIC_WS_URL=wss://ws.dev.uigraph.app/project-manager
NEXT_PUBLIC_AI_WS_URL=wss://ws.dev.uigraph.app/intelligence
NEXT_PUBLIC_API_PRIVATE_ENDPOINT=https://api.dev.uigraph.app/graphql/query-private
NEXT_PUBLIC_API_PUBLIC_ENDPOINT=https://api.dev.uigraph.app/graphql/query
NEXT_PUBLIC_COGNITO_DOMAIN_URL=auth.dev.uigraph.app
NEXT_PUBLIC_COGNITO_IDENTITY_POOL_ID=us-west-2:35c40931-b076-4c33-bb91-17c8317afc49
NEXT_PUBLIC_COGNITO_REGION=us-west-2
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-west-2_oEg1R2sfE
NEXT_PUBLIC_PROJECT_REGION=us-west-2
NEXT_PUBLIC_COGNITO_WEB_CLIENT_ID=5stai1108gsg4dgb4a4l1jbmh1
NEXT_PUBLIC_REDIRECT_SIGNIN=http://localhost:3001/dashboard
NEXT_PUBLIC_REDIRECT_SIGNOUT=http://localhost:3000
NEXT_PUBLIC_FEATURE_SETTINGS_ENABLED=true
NEXT_PUBLIC_BYPASS_DOMAIN_CHECK=true