:root {
  --radius: 0.625rem;

  --primary: oklch(0.52 0.23 261.34);
  --primary-foreground: oklch(1 0 0);

  --destructive: oklch(0.6 0.22 23.7);
  --destructive-foreground: oklch(1 0 0);

  --background: oklch(0.96 0 0);
  --foreground: oklch(0.18 0 0);

  --card: var(--background);
  --card-foreground: var(--foreground);

  --popover: var(--background);
  --popover-foreground: var(--foreground);

  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);

  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);

  --accent: var(--secondary);
  --accent-foreground: var(--secondary-foreground);

  --ring: oklch(0.707 0.022 261.325);
  --input: oklch(0.928 0.006 264.531);
  --border: oklch(0.928 0.006 264.531);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);

  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);

  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);

  --sidebar-ring: var(--ring);
  --sidebar-border: var(--border);
}
